*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


body{
background:#111;
color:white;
line-height:1.6;
}


/* NAVBAR */

.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 40px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
z-index:10;
}


.navbar ul{
display:flex;
list-style:none;
}


.navbar ul li{
margin-left:20px;
}


.navbar a{
color:white;
text-decoration:none;
font-weight:500;
}



/* HERO */

.hero{
height:100vh;
background:url("https://images.unsplash.com/photo-1551024709-8f23befc6b8e") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}


.hero-content h1{
font-size:60px;
margin-bottom:10px;
}


.hero-content p{
font-size:20px;
opacity:0.8;
}


.hero button{
margin-top:20px;
padding:12px 25px;
border:none;
background:#ffb703;
color:black;
font-weight:600;
cursor:pointer;
border-radius:6px;
transition:0.3s;
}


.hero button:hover{
transform:scale(1.1);
}



/* FEATURES */

.features{
display:flex;
justify-content:center;
padding:80px 20px;
gap:30px;
flex-wrap:wrap;
}


.card{
background:#1a1a1a;
padding:40px;
border-radius:10px;
width:250px;
text-align:center;
transition:0.3s;
}


.card:hover{
transform:translateY(-10px);
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}



/* MENU */

.menu{
padding:80px 20px;
text-align:center;
}


.menu-grid{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}


.item{
background:#1a1a1a;
padding:40px;
border-radius:10px;
transition:0.3s;
}


.item:hover{
transform:scale(1.05);
}



/* ABOUT */

.about{
padding:80px 20px;
text-align:center;
max-width:700px;
margin:auto;
}



/* FOOTER */

footer{
padding:30px;
text-align:center;
background:black;
}

/* NAVBAR */

.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;

background:rgba(0,0,0,0.5);
backdrop-filter:blur(10px);

z-index:100;
}

.logo{
font-size:22px;
font-weight:700;
color:#fff;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:500;
position:relative;
}

/* hover underline */

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0%;
height:2px;
background:#ffb703;
transition:0.3s;
}

.nav-links a:hover::after{
width:100%;
}


/* ORDER BUTTON */

.order-btn{
padding:8px 18px;
border:none;
background:#ffb703;
color:black;
font-weight:600;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.order-btn:hover{
transform:scale(1.05);
}


/* HAMBURGER MENU */

.hamburger{
display:none;
font-size:24px;
cursor:pointer;
}

@media(max-width:768px){

.nav-links{
display:none;
flex-direction:column;
position:absolute;
top:70px;
right:20px;
background:#111;
padding:20px;
border-radius:10px;
}

.nav-links.active{
display:flex;
}

.hamburger{
display:block;
}

.order-btn{
display:none;
}

}

